<div class="my-bg-dark-1">
  <div class="container">
    <div class="row">
      <nav class="col-md-12 navbar navbar-expand-xl navbar-dark p-0">
        <table class="text-white" border="0">
          <tr>
            <th rowspan="2"><i class="fas fa-heartbeat" style="font-size:50px; color: #4DC26B;"></i></th>
            <td class="my-title"><span>OS</span>FI</td>
          </tr>
          <tr><td><p class="my-text-sm">Obra social de la facultad de ingenieria</p></td></tr>
        </table>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto py-3">
            <!-- INICIO -->
            <li class="nav-item active">
              <a class="btn btn-success m-2 text-white my-text-sm" [routerLink]="['home']" routerLinkActive="active"><strong>Inicio</strong></a>
            </li>
            <!-- VISTA SERVICIOS -->
            <li
              *ngIf="_servLogin.usuarioLogeado.perfil == 'socio' || _servLogin.usuarioLogeado.perfil == 'administrador' || _servLogin.usuarioLogeado.perfil == 'administrativo'"
              class="nav-item active">
              <a class="btn btn-success m-2 text-white my-text-sm" [routerLink]="['vista-servicio']"
                routerLinkActive="active"><strong>Servicios</strong></a>
            </li>
            <!-- VISTA NOVEDADES -->
            <li *ngIf="_servLogin.usuarioLogeado.perfil == 'socio'" class="nav-item active">
              <a class="btn btn-success m-2 text-white my-text-sm" [routerLink]="['gestion-novedad']"
                routerLinkActive="active"><strong>Novedades</strong></a>
            </li>
            <!-- DROPDOWN GESTION -->
            <li
              *ngIf="_servLogin.usuarioLogeado.perfil == 'administrador' || _servLogin.usuarioLogeado.perfil == 'administrativo'"
              class="nav-item dropdown">
              <a class="dropdown-toggle btn btn-success m-2 text-white my-text-sm" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Gestion</strong>
              </a>
              <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                <a *ngIf="_servLogin.usuarioLogeado.perfil == 'administrador'"
                  class="btn btn-success dropdown-item text-white" [routerLink]="['gestion-usuario']"
                  routerLinkActive="active">Usuarios</a>
                <a class="btn btn-success dropdown-item text-white" [routerLink]="['gestion-pago']"
                  routerLinkActive="active">Pagos</a>
                <a class="btn btn-success dropdown-item text-white" [routerLink]="['gestion-novedad']"
                  routerLinkActive="active">Novedades</a>
                <a class="btn btn-success dropdown-item text-white" [routerLink]="['gestion-servicio']"
                  routerLinkActive="active">Servicios</a>
                <a class="btn btn-success dropdown-item text-white" [routerLink]="['gestion-afiliado']"
                  routerLinkActive="active">Afiliados</a>
                <a *ngIf="_servLogin.usuarioLogeado.perfil == 'administrativo'"
                  class="btn btn-success dropdown-item text-white" [routerLink]="['gestion-noticia']"
                  routerLinkActive="active">Noticias</a>
              </div>
            </li>
            <!-- SIGN IN -->
            <li *ngIf="!_servLogin.isUsuarioLogeado" class="nav-item active">
              <a class="btn btn-outline-dark m-2 text-white my-text-sm" [routerLink]="['login']" routerLinkActive="active"><strong>Iniciar Sesión</strong></a>
            </li>
            <!-- DROPDOWN USUARIO LOGEADO -->
            <li *ngIf="_servLogin.isUsuarioLogeado" class="nav-item active">
              <div class="nav-item dropdown">
                <a class="dropdown-toggle btn btn-success m-2 text-white my-text-sm" href="#" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <strong>{{_servLogin.usuarioLogeado.usuario}}</strong>
                </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item text-white btn btn-success my-text-sm" href="#">Cambiar Contraseña</a>
                  <div class="dropdown-divider"></div>
                  <a class="btn mx-2 text-white my-text-sm" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
                </div>
              </div>
            </li>
            <!-- IMAGEN USUARIO SOCIO-AFILIADO -->
            <li *ngIf="_servLogin.usuarioLogeado.perfil == 'socio'" class="nav-item active">
              <img src="{{_servLogin.afiliadoLogeado.imagen}}" width="50px" height="50px">
            </li>
  
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>