<div class="container-fluid">
  <div class="row">
    <nav class="col-md-12 navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Icon</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="btn btn-outline-dark mx-2" [routerLink]="['home']" routerLinkActive="active" >Inicio</a>
          </li>
          <li *ngIf="_servLogin.usuarioLogeado.perfil == 'administrador'" class="nav-item active">
            <a class="btn btn-outline-dark mx-2" [routerLink]="['gestion-usuario']" routerLinkActive="active" >Usuarios</a>
          </li>
          <li *ngIf="_servLogin.usuarioLogeado.perfil == 'administrador'" class="nav-item active">
            <a class="btn btn-outline-dark mx-2" [routerLink]="['gestion-afiliado']" routerLinkActive="active" >Afiliados</a>
          </li>
          <li *ngIf="!_servLogin.isUsuarioLogeado" class="nav-item active">
            <a class="btn btn-outline-dark mx-2" [routerLink]="['login']" routerLinkActive="active" >Sign in</a>
          </li>
          <li *ngIf="_servLogin.isUsuarioLogeado" class="nav-item active">
            <a class="btn btn-danger mx-2" (click)="logout()" ><i class="fas fa-sign-out-alt"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>