<div class="my-bg-dark-1">
    <div class="container">
        <div class="row py-4 text-white">
            <div class="col-md-12 col-lg-4">
                <table border="0">
                    <tr>
                        <th rowspan="2"><i class="fas fa-heartbeat" style="font-size:50px; color: #4DC26B;"></i></th>
                        <td class="my-title"><span>OS</span>FI</td>
                    </tr>
                    <tr>
                        <td>
                            <p class="my-text-sm">Obra social de la facultad de ingenieria</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6 col-lg-4">
                <p class="my-title"><span>Prin</span>cipal</p>
                <div class="mb-4 my-text-2">
                    <a [routerLink]="['/home']" class="m-auto my-text-sm text-white"><i class="fas fa-home" style="color:#4DC26B;"></i>
                        Inicio</a>
                </div>
                <div class="mb-4 my-text-2">
                    <p class="m-auto my-text-sm text-white"><i class="far fa-comment-alt" style="color: #4DC26B;"></i>
                        Contactanos</p>
                </div>
                <div class="my-text-2">
                    <a [routerLink]="['/login']" class="m-auto my-text-sm text-white"><i class="fas fa-sign-in-alt" style="color: #4DC26B;"></i>
                        Iniciar Sesión</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <p class="my-title"><span>Con</span>tacto</p>
                <div class="mb-4 my-text-2">
                    <p class="m-auto my-text-sm"><i class="fas fa-map-marker-alt" style="color: #4DC26B;"></i>
                        Ramirez de Velazco 1270 - Bº Centro - Y4600 Jujuy</p>
                </div>
                <div class="mb-4 my-text-2">
                    <p class="m-auto my-text-sm"><i class="fas fa-phone-alt" style="color: #4DC26B;"></i>
                        0388-154201337</p>
                </div>
                <div class="my-text-2">
                    <p class="m-auto my-text-sm"><i class="fas fa-envelope" style="color: #4DC26B;"></i>
                        obra_social_ingenieria@osfi.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="my-bg-dark-2 pt-3 pl-3 col-sm-8 col-md-9 col-lg-10">
            <p class="my-text-sm text-white"><i class="far fa-copyright" style="color: #ffffff;"></i> 2020, OSFI. Todos
                los derechos reservados</p>
        </div>
        <div id="iconos-redes" class="my-bg-dark-2 pt-3 pl-3 col-sm-4 col-md-3 col-lg-2">
            <a href="http://www.facebook.com" target="_blank"><i class="fab fa-facebook-square mx-2"></i></a>
            <a href="http://www.twitter.com" target="_blank"><i class="fab fa-twitter mx-2"></i></a>
            <a href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram mx-2"></i></a>

        </div>
    </div>
</div>