<div class="bg-dark">
    <div class="container pb-4">
        <div class="row">
            <div class="col-md-6 col-lg-7 text-white mt-4">
                <h2 class="mb-4 text-white"> OSNSQP </h2>
                <div class="mb-4 my-text-2">
                    <p class="m-auto text-white my-text-2"><i class="fas fa-map-marker-alt" style="color: #6DCA82;"></i>
                        Ramirez de Velazco 1270 - Bº Centro - Y4600 Jujuy</p>
                </div>
                <div class="mb-4 my-text-2">
                    <p class="m-auto text-white my-text-2"><i class="fas fa-phone-alt" style="color: #6DCA82;"></i>
                        0388-154201337</p>
                </div>
                <div class="my-text-2">
                    <p class="m-auto text-white my-text-2"><i class="fas fa-envelope" style="color: #6DCA82;"></i>
                        obrasocialnsqp@gmail.com</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 mt-4">
                <h2 class="mb-4 text-white my-text">Nos podés encontrar en: </h2>
                <i class="fab fa-facebook" style="color: #6DCA82;"></i>
                <a href="https://www.facebook.com/Obra-Social-Unju-109421504150971" target="_blank" class="text-white" style="margin-left: 5px; text-decoration: none;">Facebook</a>
            </div>
        </div>
    </div>
</div>