.cuerpo{
    background-color: rgb(14, 22, 22);
}

.card{
    background: transparent;
}

p{
    margin-right: 0px;
}
.card-body{
    padding-bottom: 0px;
    padding-top: 1px;
    background-color: rgb(14, 22, 22);
   
}

p{
    hyphens:auto;
    word-wrap:break-word;
    margin-right: 20px; 
}

#contCard{
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 200px;
}

.btn-link{
    background: transparent;
    border: 2px solid #4DC26B;
    color: white;
}
.btn-link:focus, .card-body{
    box-shadow: 0 0 20px cyan;
}
.btn-danger{
    box-shadow: 0 0 10px darkred;
    background: transparent;
}

