.form-control{
    box-shadow: none;
    transition: border .2s;
    color: honeydew;
    background: rgb(40, 40, 40);
    border: 2px solid #4DC26B;
    font-size: large;
    transition: border .2s;
}
.form-control:focus{
    box-shadow: 0 0 15px green;
    border: 4px solid #4DC26B;
    color: #4DC26B;
}

.btn{
    background: transparent;
    border-style: solid;
    margin-left: 2px;
    margin-right: 2px;
}
.btn-primary{
    box-shadow: 0 0 5px green;
}
.btn-danger{
    box-shadow: 0 0 10px darkred;

}
.btn-success{
    box-shadow: 0 0 5px cyan;
}
i{
    color: cyan;
}
.btn:hover{
    border-color:aqua;
    color: white;
}