<!--*ngIf="_servLogin.usuarioLogeado.perfil == 'socio'"-->
<div>
    <div class="container">
        <div class="row py-5">
            <div class="col-md-6 offset-md-3 my-3 p-0 my-bg-dark-2">
                <p class="my-title p-2 my-bg-dark-1 text-center font-italic my-text-lg"><span>Enviar </span>Novedad</p>
                <div class="col-md-12">
                    <!---------------- FORMULARIO ------------------>
                    <form #formNovedad="ngForm" class="px-5 py-3 my-text-sm">
                        <div class="form-group row">
                            <input type="text" placeholder="Ingrese el asunto" id="titulo"  class="form-control col-7" name="titulo"
                                [(ngModel)]="novedad.asunto" required  #titulo="ngModel">
                            <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)" class="col-4">
                                <div *ngIf="titulo.errors.required">
                                    <small class="text-danger">
                                        <Strong>Debe ingresar un asunto</Strong>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <textarea class="form-control" id="textoNovedad" name="novedad" rows="8"
                                placeholder="Escriba su novedad aqui" required [(ngModel)]="novedad.texto"
                                #texto="ngModel">
                            </textarea>
                            <div *ngIf="texto.invalid && (texto.dirty || texto.touched)">
                                <div *ngIf="texto.errors.required">
                                    <small class="text-danger"><Strong>Debe ingresar una
                                            novedad</Strong></small>
                                </div>
                            </div>
                        </div>
                        <div class="mb-0">
                            <!----------- BOTONES ---------->

                            <button *ngIf="!novedadMod" class="btn btn-success" (click)="enviarNovedad()"
                                [disabled]="formNovedad.invalid"><i class="fa fa-plus" aria-hidden="true"></i>
                                Enviar</button>

                            <button *ngIf="novedadMod" class="btn btn-success" (click)="modificarNovedad()"
                                [disabled]="formNovedad.invalid"><i class="fa fa-plus" aria-hidden="true"></i>
                                Modificar</button>

                            <button *ngIf="novedadMod" class="btn btn-danger" (click)="cancelarModificar()"><i
                                    class="fa fa-times" aria-hidden="true"></i> Cancelar</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!----------TABLA------------>
        <div  class="table-responsive" *ngIf="novedades.length!=0">
            <p class="my-title p-2 my-bg-dark-1"><span>Novedades </span> Pendientes</p>
            <table class="table table-striped text-center my-bg-dark-2 text-white" [mfData]="novedades" #mf="mfDataTable" >
                <thead>
                    <tr>
                        <th >
                            <mfDefaultSorter by="asunto"><span>Asunto</span></mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="texto"><span>Texto</span></mfDefaultSorter>
                        </th>
                        <th >
                            <mfDefaultSorter by="usuario"><span>Fecha</span></mfDefaultSorter>
                        </th>
                        <th >
                            <mfDefaultSorter></mfDefaultSorter>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let novedad of mf.data">
                        <td *ngIf="novedad.estado=='pendiente' && novedad.usuario.usuario == _servLogin.usuarioLogeado.usuario">{{novedad.asunto}}</td>
                        <td *ngIf="novedad.estado=='pendiente' && novedad.usuario.usuario == _servLogin.usuarioLogeado.usuario">{{novedad.texto}}</td>
                        <td *ngIf="novedad.estado=='pendiente' && novedad.usuario.usuario == _servLogin.usuarioLogeado.usuario">{{novedad.fecha | date: 'shortDate'}}
                        </td>
                        <td *ngIf="novedad.estado=='pendiente' && novedad.usuario.usuario == _servLogin.usuarioLogeado.usuario">
                            <button id="btnPrevious" class="btn btn-primary"
                                (click)="mostrarModificar(novedad)">Seleccionar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table><p class="my-title p-2 my-bg-dark-1"><span>Novedades </span> Procesadas</p>
            <table class="table table-striped text-center my-bg-dark-2 text-white" [mfData]="novedades" #mf2="mfDataTable">
                <thead>
                    <tr>
                        <th width= 20%>
                            <mfDefaultSorter by="asunto"><span>Asunto</span></mfDefaultSorter>
                        </th>
                        <th >
                            <mfDefaultSorter by="texto"><span>Texto</span></mfDefaultSorter>
                        </th>
                        <th width= 15%>
                            <mfDefaultSorter by="usuario"><span>Fecha</span></mfDefaultSorter>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let novedad2 of mf2.data">
                        <td  *ngIf="novedad2.estado=='procesado' && novedad2.usuario.usuario == _servLogin.usuarioLogeado.usuario">{{novedad2.asunto}}</td>
                        <td *ngIf="novedad2.estado=='procesado' && novedad2.usuario.usuario == _servLogin.usuarioLogeado.usuario">{{novedad2.texto}}</td>
                        <td *ngIf="novedad2.estado=='procesado' && novedad2.usuario.usuario == _servLogin.usuarioLogeado.usuario">{{novedad2.fecha | date: 'shortDate'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>