<div > <!-- *ngIf="_servLogin.usuarioLogeado.perfil == 'administrador' || _servLogin.usuarioLogeado.perfil == 'administrativo'" -->
    <div class="container">
        <div class="row py-5">
            <div class="col-md-8 offset-md-2 my-3 p-0 my-bg-dark-2">


                <!--------------- FORMULARIO DE REGISTRO DE SERVICIOS --------------->


                <p class="my-title p-2 my-bg-dark-1"><span>Nuevo</span> Servicio</p>
                <form #formCrearServicio="ngForm" class="px-5 py-3 my-text-sm">
                    <div class="form-group row">
                        <label for="nombre">Nombre de Servicio</label>
                        <input type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]="servicio.nombre"
                            required #nombreV="ngModel">
                        <!-- Validacion -->
                        <div *ngIf="nombreV.invalid && (nombreV.dirty || nombreV.touched)">
                            <div *ngIf="nombreV.errors.required">
                                <small class="text-danger"><Strong>*Nombre Obligatorio</Strong></small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="descripcion">Descripcion</label>
                        <textarea name="descripcion" id="descripcion" class="form-control"
                            [(ngModel)]="servicio.descripcion" required #descripcionV="ngModel" rows="8"></textarea>
                        <!-- Validacion -->
                        <div *ngIf="descripcionV.invalid && (descripcionV.dirty || descripcionV.touched)">
                            <div *ngIf="descripcionV.errors.required">
                                <small class="text-danger"><Strong>*Descripcion Obligatorio</Strong></small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="imagen">Imagen</label>
                        <input type="file" name="imagen" id="imagen" class="form-control" alife-file-to-base64
                            (onFileChanged)="onFilesChanges($event)">
                        <!-- Validacion -->
                        <div *ngIf="validarImagen">
                            <small class="text-success"><Strong>*Imagen correcta</Strong></small>
                        </div>
                        <div *ngIf="!validarImagen">
                            <small class="text-danger"><Strong>*Eliga otra imagen</Strong></small>
                        </div>
                    </div>
                    <div *ngIf="showModificarServicio" class="form-group row">
                        <label for="imagenActual" class="col-md-12">Imagen actual</label>
                        <img src="{{servicio.imagen}}" height="100px" class="col-md-4 offset-md-4">

                    </div>

                    <div class="text-center">
                        <button *ngIf="!showModificarServicio" class="btn btn-success"
                            [disabled]="(!formCrearServicio.form.valid) || !validarImagen"
                            (click)="crearServicio()"><i class="fas fa-plus"></i> Agregar</button>

                        <button *ngIf="showModificarServicio" class="btn btn-danger mx-5"
                            (click)="cancelarModificar()"><i class="fas fa-times"></i> Cancelar</button>

                        <button *ngIf="showModificarServicio" class="btn btn-success mx-5"
                            [disabled]="(!formCrearServicio.form.valid) || !validarImagen"
                            (click)="modificarServicio()"><i class="fas fa-pencil-alt"></i> Modificar</button>

                    </div>
                </form>
            </div>

            <!------------------------------- GENERAR PDF ----------------------------------------------->
            <div class="col-12 text-center my-3">
                <div class=" row text-center">
                    <button (click)="generatePdf('open')"
                        class="btn btn-dark align-items-center justify-content-center COL">
                        <i class="fas fa-folder-open"></i>
                        <span>Open PDF</span>
                    </button>
                    <button (click)="generatePdf('download')"
                        class="btn btn-dark align-items-center justify-content-center">
                        <i class="fas fa-cloud-download-alt"></i>
                        <span>Download PDF</span>
                    </button>
                    <button (click)="generatePdf('print')"
                        class="btn btn-dark align-items-center justify-content-center">
                        <i class="fas fa-print"></i>
                        <span>Print PDF</span>
                    </button>
                </div>
            </div>

            <!----------------- TABLA DE SERVICIOS ----------------->

            <div class="col-md-12 my-3 my-text-md">
                <p class="my-title p-2 my-bg-dark-1"><span>Servicios</span> Creados</p>
                <div *ngFor="let servicio of listaServicios" class="my-bg-dark-2">
                    <div class="card mb-5 p-3">
                        <img src="{{servicio.imagen}}" class="card-img-top col-md-4 offset-md-4">
                        <div class="card-body">
                            <p class="card-text"><span> Nombre:</span> {{servicio.nombre}}</p>
                            <p class="card-text"><span> Descripcion:</span> {{servicio.descripcion}}</p>
                            <p class="card-text"><span> ¿Activo?:</span> {{servicio.activo && 'Si' || 'No'}}</p>
                            <p class="p-2 my-bg-dark-1"><span>Afiliados</span> Inscriptos</p>
                            <table class="table table-striped text-center text-white" [mfData]="servicio.afiliadosInsc" #mf="mfDataTable"
                                [mfRowsOnPage]="5">
                                <thead>
                                    <tr>
                                        <th>
                                            <mfDefaultSorter by="nombres">Nombre</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="apellido">Apellido</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="dni">DNI</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="email">E-Mail</mfDefaultSorter>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let afiliado of mf.data">
                                        <td>{{afiliado.nombres}}</td>
                                        <td>{{afiliado.apellido}}</td>
                                        <td>{{afiliado.dni}}</td>
                                        <td>{{afiliado.email}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                            <button class="btn btn-primary mx-2"(click)="mostrarModificar(servicio)"><i class="fas fa-pencil-alt"></i> Modificar</button>
                            <button class="btn btn-danger mx-2"(click)="modificarEstadoServicio(servicio)"><i class="fas fa-times"></i> {{servicio.activo && 'Desactivar' || 'Activar'}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div *ngIf="_servLogin.usuarioLogeado.perfil != 'administrador' && _servLogin.usuarioLogeado.perfil != 'administrativo'"><img src="https://media.tenor.com/images/b65504dbb7eeafc34f3ae35c455cf10f/tenor.gif" height="100%" width="100%"></div> -->