<div> <!--*ngIf="_servLogin.usuarioLogeado.perfil == 'administrador' || _servLogin.usuarioLogeado.perfil == 'administrativo'"-->
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
            <!-----------------REGISTRO DE AFILIADOS-------------------->

                <h3 class="display-3 text-center">Crear Afiliado</h3>
                <form #formCrearAfiliado="ngForm">
                    <div class="form-group row">
                        <label for="apellido"> Apellido del afiliado</label>
                        <input type="text" name="apellido" id="apellido" class="form-control"
                        [(ngModel)]="afiliado.apellido" required #apellidoV="ngModel">
                        <!--Validacion-->
                        <div *ngIf="apellidoV.invalid && (apellidoV.dirty || apellidoV.touched)">
                            <div *ngIf="apellidoV.errors.required">
                                <small class="text-danger"><Strong>*Campo Obligatorio</Strong></small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="nombres">Nombres del afiliado</label>
                        <input type="text" name="nombres" id="nombres" class="form-control"
                        [(ngModel)]="afiliado.nombres" required #nombresV="ngModel">
                        <!--Validacion-->
                        <div *ngIf="nombresV.invalid && (nombresV.dirty || nombresV.touched)">
                            <div *ngIf="nombresV.errors.required">
                                <small class="text-danger"><Strong>*Campo Obligatorio</Strong></small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="dni">DNI del afiliado</label>
                        <input type="number" name="dni" id="dni" class="form-control"
                        [(ngModel)]="afiliado.dni" required #dniV>
                        <!--Validacion-->
                        <div *ngIf="dniV.invalid && (dniV.dirty || dniV.touched)">
                            <div *ngIf="dniV.errors.required">
                                <small class="text-danger"><Strong>*Campo Obligatorio</Strong></small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="email">Email del afiliado</label>
                        <input type="email" name="email" id="email" class="form-control"
                        [(ngModel)]="afiliado.email" required  #emailV="ngModel" (change)="validarEmailAfiliado()">
                        <!--Validacion-->
                        <div *ngIf="emailV.invalid && (emailV.dirty || emailV.touched)">
                            <div *ngIf="emailV.errors.required">
                                <small class="text-danger"><Strong>*Campo Obligatorio</Strong></small>
                            </div>
                        </div>
                        <div *ngIf="buscarUsuario || buscarAfiliado">
                            <small class="text-danger"><Strong>*Email no disponible</Strong></small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="telefono">Telefono</label>
                        <input type="number" name="telefono" id="telefono" class="form-control"
                        [(ngModel)]="afiliado.telefono" required #telefonoV="ngModel">
                        <!--Validacion-->
                        <div *ngIf="telefonoV.invalid && (telefonoV.dirty || telefonoV.touched)">
                            <div *ngIf="telefonoV.errors.required">
                                <small class="text-danger"><Strong>*Campo Obligatorio</Strong></small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="imagen">Foto del afiliado</label>
                        <input type="file" name="imagen" id="imagen" class="form-control" alife-file-to-base64 (onFileChanged)="validarImagenCambiada($event)">
                    </div>
                    
                    <div *ngIf="showModAfiliado" class="form-group row">
                        <label for="imagenActual" class="col-md-12">Imagen actual</label>
                        <img src="{{afiliado.imagen}}" height="100px" class="col-md-4 offset-md-4">

                    </div>

                    <div class="text-center">
                        <button *ngIf="!showModAfiliado" class="btn btn-success w-50" (click)="crearAfiliado()" [disabled]="formCrearAfiliado.form.invalid || (buscarUsuario || buscarAfiliado) || !validarImagen">Crear</button>

                        <button *ngIf="showModAfiliado" class="btn btn-danger mx-5" (click)="cancelarModificar()">Cancelar</button>
                        
                        <button *ngIf="showModAfiliado" class="btn btn-success mx-5" (click)="modificarAfiliado()"[disabled]="formCrearAfiliado.form.invalid || (buscarUsuario || buscarAfiliado) || !validarImagen">Modificar</button>
                    </div>
                </form>
            </div>

            
            <!------------------------------- TABLA DE AFILIADOS ----------------------------------------------->
            <div class="col-md-10 offset-md-1">
                <form>
                    <div class="form-group row">
                        <label for="buscar" class="col-md-12">Buscar por nombre o apellido</label>
                        <input type="text" name="buscar" id="buscar" class="form-control col-md-10" [(ngModel)]="filtrarTabla">
                        
                        <button class="btn btn-primary col-md-2" (click)="filtrar()">Filtrar</button>
                    </div>
                </form>
            </div>
            <div class="col-12 table-responsive">
                <table class="table table-striped text-center text-white" [mfData]="listaAfiliadosFiltro" #mf="mfDataTable"
                [mfRowsOnPage]="5">
                    <thead>
                        <tr>
                            <th>
                                <mfDefaultSorter by="apellido">Apellido</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="nombres">Nombres</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="dni">DNI</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="email">Email</mfDefaultSorter>
                            </th>
                            <th>
                                Imagen
                            </th>
                            <th>
                               <mfDefaultSorter by="estado">Habilitado</mfDefaultSorter> 
                            </th>
                            <th colspan="2">
                                Acciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let afiliado of mf.data">
                            <td>{{afiliado.apellido}}</td>
                            <td>{{afiliado.nombres}}</td>
                            <td>{{afiliado.dni}}</td>
                            <td>{{afiliado.email}}</td>
                            <td><img src="{{afiliado.imagen}}" height="50px" width="50px"></td>
                            <td>{{afiliado.estado && 'Si' || 'No'}}</td>
                            <td><button class="btn btn-primary" (click)="mostrarModificar(afiliado)">Modificar</button></td>
                            <td><button class="btn btn-danger" (click)="modificarEstadoAfiliado(afiliado)">{{afiliado.estado && 'Deshabilitar' || 'Habilitar'}}</button></td>
                            <td><button class="btn btn-success" (click)="crearSocio(afiliado)">Socio</button></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <!------------------------------- GENERAR PDF ----------------------------------------------->
            
            <div class="col-12 text-center">
                <div class="row text-center">
                    <button (click)="generatePdf('open')"
                        class="btn btn-dark align-items-center justify-content-center mx-md-4 mx-sm1 bg-white" style="width: 175px; margin-bottom: 10px;">
                        <i class="fas fa-folder-open" style="color: black;"></i>
                        <span class="mx-1" style="color: black;">Previsualizar PDF</span>
                    </button>
                    <button (click)="generatePdf('download')"
                        class="btn btn-dark align-items-center justify-content-center mx-md-4 mx-sm-1 bg-white" style="width: 168px; margin-bottom: 10px;">
                        <i class="fas fa-cloud-download-alt" style="color: black;"></i>
                        <span class="mx-1" style="color: black;">Descargar PDF</span>
                    </button>
                    <button (click)="generatePdf('print')"
                        class="btn btn-dark align-items-center justify-content-center mx-md-4 mx-sm-1 bg-white" style="width: 130px; margin-bottom: 10px;">
                        <i class="fas fa-print" style="color: black;"></i>
                        <span class="mx-1" style="color: black;">Imprimir</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="_servLogin.usuarioLogeado.perfil != 'administrador' && _servLogin.usuarioLogeado.perfil != 'administrativo'"><img src="https://media.tenor.com/images/b65504dbb7eeafc34f3ae35c455cf10f/tenor.gif" height="100%" width="100%"></div>