.form-control{
    color: #ffffff;
    box-shadow: none;
    border: none;
    background: rgb(60, 60, 60);
    transition: border .2s;
}
.form-control:focus{
    border: 4px solid #4DC26B;
    color: #4DC26B;
}

span{
    color: green;
}
tfoot{
    color:black;
}