<!--*ngIf="_servLogin.usuarioLogeado.perfil == 'administrador' || _servLogin.usuarioLogeado.perfil == 'administrativo'"-->
<div >
    <div class="container">
        <div class="row py-5">
            <div class="col-md-6 offset-md-3 my-3 p-0 my-bg-dark-2">
                <!-----------------REGISTRO DE PAGOS-------------------->
                <p class="my-title p-2 my-bg-dark-1"><span>Registrar</span> Pago</p>
                <form #formCrearPago="ngForm" class="px-5 py-3 my-text-sm">
                    <div class="form-group row">
                        <label for="email"> Email de Afiliado </label>
                        <input type="email" name="email" id="email" class="form-control" [(ngModel)]="eMail" required
                            #email="ngModel">

                        <!-- Validacion -->
                        <div *ngIf="email.invalid && (email.dirty || email.touched)">
                            <div *ngIf="email.errors.required">
                                <small class="text-danger"><Strong>*Email de afiliado Obligatorio</Strong></small>
                            </div>
                        </div> <br>
                    </div>
                    <!--Buscar-->
                    <div class="text-center">
                        <button class="btn btn-success mx-5" (click)="obtenerAfiliadoPorEmail()" (click)="filtrarPagos()"><i class="fa fa-search" aria-hidden="true"></i>Buscar</button>
                    </div>
                    <div *ngIf="mostrar" class="form-group row">
                        <label for="monto"> Monto </label>
                        <input type="number" name="monto" id="monto" class="form-control" [(ngModel)]="pago.monto"
                            required #monto="ngModel">
                        <!-- Validacion -->
                        <div *ngIf="monto.invalid && (monto.dirty || monto.touched)">
                            <div *ngIf="monto.errors.required">
                                <small class="text-danger"><Strong>*Monto Obligatorio</Strong></small>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="mostrar" class="form-group row">
                        <label for="mes"> Mes </label>
                        <input  id="mes" class="form-control" value="{{pago.mes}}" disabled>
                    </div>

                    <div *ngIf="mostrar" class="form-group row">
                        <label for="anio"> Año </label>
                        <input id="anio" class="form-control" value="{{pago.anio}}" disabled>
                    </div>

                    <div class="text-center">
                        <button *ngIf="!showModPago && mostrar" class="btn btn-success w-50" (click)="crearPago()"
                            [disabled]="formCrearPago.form.invalid"><i class="fa fa-plus" aria-hidden="true"></i>Crear</button>
                        <button *ngIf="showModPago" class="btn btn-danger mx-5"
                            (click)="cancelarModificar()"><i class="fa fa-ban" aria-hidden="true"></i>Cancelar</button>
                        <button *ngIf="showModPago" class="btn btn-success mx-5" (click)="modificarPago()"
                            [disabled]="formCrearPago.form.invalid"><i class="fas fa-edit"></i>Modificar</button>
                    </div>
                </form>
            </div>

            <!------------------------------- TABLA DE PAGOS ----------------------------------------------->

            

            <div class="col-12 table-responsive">
                <p class="my-title p-2 my-bg-dark-1"><span>Pagos </span> Registrados</p>
                <div class="my-bg-dark-2 col-12">
                    <form class="p-1">
                        <div class="form-group row">
                            <label for="buscar" class="col-md-12 my-text-md"><span>Filtrar</span> por e-mail</label>
                            <input type="text" name="buscar" id="buscar" class="form-control col-md-6 offset-md-2" [(ngModel)]="filtrarTabla">
                            <button class="btn btn-primary col-md-2" (click)="filtrar()"><i class="fas fa-search-plus"></i>  Filtrar</button>
                        </div>
                    </form>
                </div>
                <table class="table table-striped text-center my-bg-dark-2 text-white" [mfData]="listaPagosFiltro" #mf="mfDataTable"
                    [mfRowsOnPage]="5">
                    <thead>
                        <tr>
                            <th>
                                <mfDefaultSorter by="afiliado">Afiliado</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="monto">Monto</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="mes">Mes</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="anio">Año</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="fecha">Fecha</mfDefaultSorter>
                            </th>

                            <th colspan="2">
                                Acciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data">
                            <td>{{item.afiliado.email}}</td>
                            <td>{{item.monto}}</td>
                            <td>{{item.mes}}</td>
                            <td>{{item.anio}}</td>
                            <td>{{item.fecha | date:'short'}}</td>
                            <td><button class="btn btn-primary" (click)="mostrarModificar(item)"><i class="fas fa-edit"></i>Editar</button></td>
                            <td><button class="btn btn-danger" (click)="eliminarPago(item._id)"><i class="far fa-trash-alt"></i>Eliminar</button></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <!------------------------------- GENERAR PDF ----------------------------------------------->

            <div class="col-12 text-center">
                <div class="row text-center">
                    <button (click)="generatePdf('open')"
                        class="btn btn-dark align-items-center justify-content-center mx-md-4 mx-sm1 bg-white"
                        style="width: 175px; margin-bottom: 10px;">
                        <i class="fas fa-folder-open" style="color: black;"></i>
                        <span class="mx-1" style="color: black;">Previsualizar PDF</span>
                    </button>
                    <button (click)="generatePdf('download')"
                        class="btn btn-dark align-items-center justify-content-center mx-md-4 mx-sm-1 bg-white"
                        style="width: 168px; margin-bottom: 10px;">
                        <i class="fas fa-cloud-download-alt" style="color: black;"></i>
                        <span class="mx-1" style="color: black;">Descargar PDF</span>
                    </button>
                    <button (click)="generatePdf('print')"
                        class="btn btn-dark align-items-center justify-content-center mx-md-4 mx-sm-1 bg-white"
                        style="width: 130px; margin-bottom: 10px;">
                        <i class="fas fa-print" style="color: black;"></i>
                        <span class="mx-1" style="color: black;">Imprimir</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>